@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>工厂排单系统</title>


    <!-- Primary Inspinia style -->
    @Styles.Render("~/Content/css")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <style>
        .loginscreen.middle-box {
            padding-top: 200px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="middle-box loginscreen  animated fadeInDown">
                <div>
                    <div>
                        <span class="logo-name">EP工厂</span>
                    </div>
                    <h3 class="text-center">工厂排单系统</h3>
                    <form class="m-t" role="form" id="saveForm" action="@Url.Action("Login","Home")">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="账号" autofocus="autofocus" name="name">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="密码" name="pwd" id="pwd">
                        </div>
                        <button type="submit" id="btn_login" class="btn btn-primary block full-width m-b" data-style="expand-right">登录</button>
                    </form>
                    <form class="m-t" role="form" id="saveForm" action="@Url.Action("Find","Home")">
                        <button type="submit" id="btn_login" class="btn btn-primary block full-width m-b" data-style="expand-right">查看此次访问是哪个用户</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>